html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}:focus{outline:0}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{font-weight:normal}
html{	
}
/*		General		*/
body { 	
	font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
	height:100%;
	font-size:12px;
	line-height:1.7;
	color:black;	
}
a{
	color:#21759B;
	text-decoration:none;
}
a:hover{
	color:#fd8008;
}
h1{
	border-bottom: 1px solid #E7E7E7;
    font-size: 15px;
    color:#777777;
	font-weight:bold;
	margin-bottom:5px;
}
h2{
    background-color: #ccc;
    clear: both;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0 10px;
    padding: 4px;
}
input, select{
	border: 1px solid #ccc;
	padding: 2px 5px;
}

/*		Layout		*/
#container,#nav{
    background-color: #FFFFFF;
    margin: 0 auto;    
    width: 960px;
}
#container{
}
#side{
	float:left;
	width:148px;
}
#main{
	float:right;
	width:960px;
}

/*	Header	*/
#header {
    background: none repeat scroll 0 0 #999999;
    border-bottom: 2px solid #A7E601;
    border-top: 1px solid #2E2E2E;
    height: 30px;
    margin-bottom: 12px;
    position: fixed;
    width: 100%;
}

#logo{
	text-align:center;
}
#nav{
	text-shadow:-1px 1px 1px #000;	
	background:none;
	height:30px;
	position:relative;
}
#nav ul li{
    float: left;
    padding: 0px 10px 0 10px;
	height:29px;	
	width:auto;
	border-right: 1px solid #8d8d8d;
	border-left: 1px solid #666666; 
	word-wrap: break-word;
}
#nav li a{
	font-size:12px;
	vertical-align:middle;
	color: #fff;
	display:block;
	padding-top:7px;
	height: 20px;
	line-height:1;
}
#nav #logo {
	border-right: 0;
}
#nav #nclose{
	border-left:0;
	padding:0;
}
#nav li:hover{
	background-color:#A7E601;
}
#nav li a:hover{
	/*color: #00C9F9;
	text-shadow:-1px 1px 1px #666;	
	*/
	color: #fff;
}
h3{
    border-top: 1px dotted #EEEEEE;
    font-weight: bold;
    margin: 15px 0 5px;
    padding: 5px 0;
}
.left{
	float:left;
	width:200px;
	position:fixed;
}
.right{
	float:right;
	width:700px;
}
.left a{
	display: block;
	font-size: 13px;
    padding: 3px 5px;
}
.left a.selected{
	background-color:#666;
	color:#fff;
}
.checkbox{
	float:left;
	width:175px;
}
.clear{
	clear:both;
}
.duplicable a.button{
	float:right;
}
input:hover, select:hover, textarea:hover {
    border-color: rgba(255, 174, 89, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 174, 89, 0.6);
    outline: 0 none;
}

input:focus, select:focus, textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
sup{
	font-size:10px;
	color:#666;
}
#problem_box{
	position:fixed;
	bottom:30px;
	display:box;
	width:960px;
	background-color:#000;	
	opacity:0.7;
}
#command_console{
	position:fixed;
	bottom:0;
	height:20px;
	display:box;
	width:700px;
	background-color:#fff;	
	border:1px solid #666;
}
#problem_box a{
	color:#fff;
	display: block;
	padding: 5px 10px;
}
/*		Alert Boxes		*/
.alert {
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    color: #C09853;
    margin-bottom: 20px;
    padding: 8px 14px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-size: 11px;
}
.alert-success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
}
.alert-error {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}
.alert-info {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #3A87AD;
}
.hide_display{
	float:right;
}
.hide{
	display:none;
}
.command_input{
	background-color:#fcc;
}
.command_target{
	border: 1px solid red;
}
.command_target_inside{
	border: 2px solid red;
}

/*		Diff		*/

td.bredecode {
    padding-left: 4px;
    width: 100%;
}

td.codekolom {
    background-color: #ECECEC;
    border-right: 1px solid #DDDDDD;
    color: #AAAAAA;
    min-width: 3em;
    text-align: right;
}
tr.del {
    background: none repeat scroll 0 0 #FFDDDD;
}
tr.add {
    background: none repeat scroll 0 0 #DDFFDD;
}
#res td {
    padding: 1px 2px;
    white-space: pre;
}
#res{
	width:100px;
	overflow:hidden;
}
#res tr{
	display:none;
}
#res tr.del,#res tr.add,#res tr.dip{
	display:table-row;
}
#diff_result{
	width:700px;
	overflow:hidden;
	display:none;
}
tr:hover{
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}
tr.tr_selected{
    border-color: rgba(168,82, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(168, 82, 236, 0.6);
}
td{
	padding:2px 5px;
}
th{
	background-color:#f6f6f6;
	padding: 4px 5px;
	text-align:left;
	font-weight:bold;
}
#search_list{
	float:right;
	margin-top: -17px;
	width: 450px;
}
.even{
	background-color:#E1F1FA;
}

/*		Raw editor		*/
#raw_editor{
	width:500px;
	border:1px solid #eee;
	height:480px;
}
#raw_edit  #diff_result{
	width:450px;
	float:right;
	display:block;
}
#history_display  #diff_result{
	width:900px;
	display:block;
}

.image-field img{
	display: block;
	float:left;
	margin:3px 8px;
	height:100px;
	cursor:pointer;
	border:2px solid #fff;
}
.image-field img.main{
	border:2px solid #8DB4EB;
}
.image-field img:hover{
	border:2px solid #f99;
}

/* Backend */
#pg_backend a{
    background-color: #EEEEEE;
    border: 1px solid;
    font-size: 11px;
    margin: 3px;
    padding: 5px;
    display: inline-block;
}
#pg_backend .links{
	float:left;
	width:500px;
}
#pg_backend .results{
	float:right;
	width:450px;
}
#pg_backend h2{
	padding:5px;
	margin: 5px 0;
	font-size: 11px;
	font-weight: bold;
	background-color: transparent;
	border-bottom: 1px solid;
	border-top: 1px solid;
	color:#999;
}
#sys{
	font-size:10px;
	float:right;
	width:500px;
	line-height: 30px;
	color:#fff;
}
a.blank{
	border-color:green!important;
}
.share_list_add{
	width:460px;float:right;margin-top:-120px;
}
.share_list_add a{
	margin:10px; 
	width:120px;
	display:inline-block;
}
.note{
	font-size: 11px;
	color:#666;
}
.mod .slct{
	font-weight: bold;
	color:green;
}
.image_select{
	border:1px solid #fff;
}
.image_select.selected{
	border:1px solid #00f;
	background-color:#00f;
}