@media (min-width: 20px) {
	td,th,.price,.small { 
		font-size: 80%!important; 
	}
}
@media (min-width: 450px) {
	td,th,.price,.small { 
		font-size: 90%!important; 
	}
}
@media (min-width: 500px) {
	td,th,.price,.small { 
		font-size: 100%!important; 
	}
}
@media (min-width: 1200px) {
	td,th,.price,.small { 
		font-size: 103%!important; 
	}
}
@media (min-width: 1600px) {
	td,th,.price,.small { 
		font-size: 107%!important; 
	}
}