html{
	direction: rtl;
}
body { 	
	font-family:Tahoma,Arial,Geneva,Helvetica,sans-serif;
	height:100%;
	font-size:13px;
	line-height:1.7;
	color:black;
}
a{
	color:#21759B;
	text-decoration:none;
}
a:hover{
	color:#fd8008;
}
@total_width:960px;
@logo_height:76px;
@nav_height:29px;
#container,#nav,#logo_area,#fnav{
    margin: 0 auto;    
    width: @total_width;
	position:relative;
}
#container{
	
}
h2{
	font-size:12px;
	border-bottom: 1px solid #eee;
	margin: 7px 0 5px 0;
}
table h2{
	border:0;
	margin:0;
}
/*	Header	*/
#header {
   /* border-top: 1px solid #2e2e2e;*/
	background-color:#023c61;
	height:@logo_height;
	position:relative;
	min-width:@total_width;	
}
#nav_wrapper{
	height:@nav_height;
	min-width:@total_width;
	position:relative;
    border-bottom: 4px solid #ffa200;
	background-color:#474747;
	margin-bottom:10px;
}
#logo_area{
	height:@logo_height;
	/*background: transparent url(/s/h.png) no-repeat top right;*/
}
#nav{
	text-shadow:-1px 1px 1px #000;	
	background:none;
	height:@nav_height;
	position:relative;
}
#nav a{
	font-size:11px;
	vertical-align:middle;
	font-weight:bold;
	color: #fff;
	display:block;
	padding-top:4px;
	height: @nav_height;
	padding: 4px 10px 0;
	float: right;
}
#nav a:hover{
	background-color:#ffa200;
}
#nav a:hover{
	color: #fff;
}
/*\*/ * html #nav li a { display: inline; } /**/ 
#nav #logo {
	border-right: 0;
}
#nav #nclose{
	border-left:0;
	padding:0;
}
#nav #logo a{
	padding:0;	
}
#header .counter,#nav_wrapper .adate{
	position:absolute;
	left:7px;
	top:5px;
	color:#ccc;
	font-size:10px;	
}
#header .counter{
	top:52px;
	color:#fff;
}
#nav_wrapper .adate .atm{
	color:#ffa200;
}
#header .adate{
	top:0;
}
@primaryContent:640px;
@secondaryContent:280px;
/*	Main	*/

#primaryContent {
    float: right;
    margin: 0;
    width: @primaryContent;
}

/*	sidebar		*/
#secondaryContent {
    float: left;
    width: @secondaryContent;
	font-size:11px;
}

#secondaryContent ul{
	padding: 0 5px;
}

/*		Table		*/
table{
	border:1px solid #d7d7d7;
	margin:20px 0;
	width:100%;
	padding:5px 9px;  
}
#primaryContent table{
	
}
th,td{
	color:#444;
	padding:6px;
	line-height: 18px;
    border-top: 1px solid #EBEBEB;	
	text-align:right;
	direction:ltr;
}
th{
	color:#3B5998;
    border-top: 0px;	
	direction:rtl;
	font-size:12px;
	font-weight:bold;
}
#secondaryContent td,#secondaryContent th{
	padding: 2px 5px;
	border:0;
}
#secondaryContent table{
	margin-bottom:5px;
}
#secondaryContent .legend th{
	/*background-color: #f7f7f7;*/
	padding: 5px;
	border-bottom:1px solid #E7E7E7;
	/*border-top:1px solid #E7E7E7;*/
}
#secondaryContent .even{
	background-color: #f7f7f7;
}

#secondaryContent tr:hover, tr:hover{
	background-color: #FEFFD4;	
}
.chup, #secondaryContent .chup{
	background-color:#CDF7D3;
}
.chdn, #secondaryContent .chdn{
	background-color:#FFE7E6;
}
.neg{
	color:#C72A2C;
}
.pos{
	color:#27A924;
}
#logo_area a.manual{
	color:#ccc;
}

/*		Notes		*/
.notes{
	font-size:10px;
	padding-right: 10px;
}
.notes ol{
	list-style-type: decimal;
	list-style-position: inside;
}
sup{
	font-size:9px;
	font-weight:normal;
	vertical-align: super
}
sub{
	vertical-align: sub;
	font-size:10px;
	font-weight:normal;
}
li:target{
	background-color:#DDEEFF;
}
.aligncenter { display:block; margin:0 auto }
.alignleft { float:left }
.alignright { float:right }
.fa{direction:rtl;}
.tools{
	font-size:12px;
}
.tools input,.tools select{
	border: 1px solid #666;
	font-size:13px;
}
/*		Footer		*/
#footer {	
	color:#ccc;
	direction:rtl;
	background-color:#474747;
	text-align:center;
	border-top: 4px solid #474747;	
	margin-top:25px;
	font-size:10px;
	clear:both;
	height:75px;
}
#fnav_wrapper{
	height:30px;
	border-bottom:4px solid #393939;
	background-color: #023c61;	
}
#fnav{
	background: #023c61 url(/s/bar.png) no-repeat top right;
	height:30px;
}
#fnav a{
	float:right;
	height:30px;	
	width:155px;
}
.clear{
	clear: both;
}
hr{
	border:0;
	border-top: 1px solid #eee;
	margin: 10px  0 20px 0;
}
.moreLink{
	margin-top:10px;
	font-size:11px;
}
.hide,.dynamic{
  display:none;
}
.counter{
	font-size:11px;
	color:#777;
	padding-right:10px;
}
.notice div{
	background-color:#D9EDF7;
	color:#3A87AD;
	padding:10px;
	border:1px solid #BCE8F1;
	margin: 20px auto 0;
}
.notice a{
	color:#D6010E;
}

/*		Alert Boxes		*/
.alert {
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    color: #C09853;
    margin-bottom: 20px;
    padding: 8px 14px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert-success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
}
.alert-error {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}
.alert-info {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #3A87AD;
}

/*		Charts		*/
#secondaryContent .chart img{
	width:250px;
	height:150px;
}

/*		Voting		*/
.xv{
	display:none;
	margin-top:10px;
	padding:10px;
	border:1px #E7E7E7 solid;
}
.xv a{
	display:block;
}
/*		ADS		*/
.adh div,.adh img{
	width:125px;
	height:90px;
}
.adh2 div,.adh2 img{
	width:125px;
	height:125px;
}
.adh3 div,.adh3 img{
	width:@primaryContent;
	height:90px;
}
.adv {
	margin-top:20px;
}
.adv div,.adv img{
	width:@secondaryContent;
	height:90px;
}
.adh div,.adh2 div{
	float:left;
	padding-right:3px;
}
.adh,.adh3{
	height:90px;
	width:@primaryContent;
}
.adh2{
	height:125px;
	width:@primaryContent;
}

#gld input{
	width:94px;
}
#cvas{
	text-shadow:0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #00FF00;
	color:#504F4F;
	font-weight:bold;
	text-decoration:none;
}